body {
   background-image: url('img2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}
p {
    color: black;
    font-family: tahoma;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}

.btn {
  background-color: #1DFFAD; 
  border-radius:.65rem;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.top{
  background-color: plum;
}
title {
  color: black;
  font-family: impact;
  font-size: 20px;

}